__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
*.log
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
.idea/
.vscode/
*.sqlite3
*.db
.DS_Store
*.swp
*.bak
*.orig
*.tmp
*.test
*.spec
node_modules/
bower_components/
*.tgz
*.tar.gz
*.zip
*.gz
*.rar
*.7z
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.iml
*.sublime-workspace
*.sublime-project
*.ipynb
*.csv
*.tsv
*.yml
*.yaml
*.md
*.rst
*.ini
*.cfg
*.toml
*.lock
venv-linux/
logs/
# hugo build stuff
support/
htpc-troubleshooter-support/public/
.git/
.gitignore
.github/
.gitmodules
test.py