<link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
<link rel="icon" href="{{ url_for('static', path='favicon.ico') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--HTMX-->
<script src="https://unpkg.com/htmx.org@2.0.3"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
<script src="https://unpkg.com/mustache@latest"></script>
<div class="bar">
    <a href="/" class="baritem">{{_("Home")}}</a>
    <a href="/support" class="baritem">{{_("Docs")}}</a>
</div>
