<!DOCTYPE html>
<html>
    <head>
        <title>Media Chooser</title>
        <meta charset="utf-8">
        {% include 'header.html' %}
    </head>
    <body>
        <div class="generic">
            <h2>Debug: you're having problem with playback of</h2> <br>
            <h3 id="title">{{item_info.Name}}</h3>
            <br>
            {% if times >= 2 %}
                <h3>{{ _("You've been having problem with %s for more than once. By clicking 'Continue', the playback time will be set forward in Jellyfin while the box is rebooting.") % item_info.Name }}</h3>
            {% endif %}
            <div class="btn" style="grid-template-columns: repeat(2, 1fr);">
                <a class="linkbutton" href="/post-reboot?original_title={{item_info.OriginalTitle}}">Continue</a>
                <a  class="linkbutton" href="/">{{_("Home")}}</a>
            </div>
        </div>

    </body>
</html>